.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6, body {
	color: #5D5E60;
}

.body-send-message {
	border: 1px #eee solid;
	width: calc(100% - 20px);
	margin: 0 auto;
	height: 60px;	
	margin-top: 42px;	
	margin-bottom: 15px;
}

.body-send-message h2 {
	margin-left: 15px;
	margin-top: 13px;
	float: left;
}

.body-send-message a,
.body-send-message-open a {
	color: #5D5E60;
}

.body-send-message-expand {
	float: right;
	font-size: 25px;
	margin-top: 17px;
	margin-right: 16px;
	overflow: hidden;
}

.body-send-message-expand:hover {
	color: #9191E9;
	cursor: pointer;
}

.body-send-message-open {
	border: 1px #eee solid;
	width: calc(100% - 20px);
	margin: 0 auto;	
	margin-top: 42px;	
	margin-bottom: 15px;
	height: 500px;
}

.button-container {
	text-align: right;
}

.body-view-messages {
	border: 1px #eee solid;
	width: calc(100% - 20px);
	margin: 0 auto;
	height: 406px;
}

.body-view-messages h2 {
	margin-left: 15px;
	margin-top: 13px;
}

.body-view-messages .nav-pills {
	width: 150px;
	margin: 0 auto;	
}

.body-view-messages .nav-pills>li.active>a {
	color: #fff;
	background-color: #9191E9;
} 

.body-view-messages .nav>li>a {
	color: #9191E9;
}

.body-view-messages .messages .message {
	margin: 0 auto;
	width: calc(100% - 30px);
	margin-bottom: 20px;
}
.body-view-messages .messages .message .col-md-1 {
	padding-right: 0;
}
.body-view-messages .messages .message .message-face {
	float: right;
	font-size: 60px;	
	margin-top: 12px;
}
.body-view-messages .messages .message .tag {
	display: inline-block;
	margin: 1px 2px;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px #eee solid;
}

.body-widget {
	border: 1px #eee solid;
	margin: 0 auto;
	margin-bottom: 15px;
	width: calc(100% - 20px);
	height: 150px;
	margin-left: 15px;
	padding-left: 10px;
	overflow-y: scroll;
}

.body-widget h3 {
	font-size: 18px;
	margin-top: 5px;
	float: left;
}

.body-widget .content {
	clear: both;
}

.body-widget span {
	display: block;
	margin-bottom: 3px;
	clear: both;
}

.body-widget span:hover,
.body-widget .selected a,
.selected, 
.selected:hover {
	color: #9191E9;
}

.body-widget a, 
.navbar a {
	color: #5D5E60;
}

.body-widget .content .selected span {
	color: #9191E9;
	display: inline;
}

.body-widget .content .selected i:hover {
	color: #5D5E60;
	cursor: pointer;
}

.body-widget .content a:hover {
	text-decoration: none;
}

.body-title-filter {
	margin-top: 0;
	margin-left: 15px;
	text-align: center;
}

.navbar-title {
	float: left;
	margin-left: 15px;		
}

.navbar-user {
	float: right;
	font-size: 40px;
	margin-top: 24px;
	margin-right: 15px;
}

.navbar-user:hover {
	color: #9191E9;
	cursor: pointer;
}

.navbar-user-menu {
	position: absolute;
	top: 80px;
	right:20px;
	width: 200px;
	height: 175px;
	z-index: 100;
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;

}

.navbar-user-menu p {
	text-align: center;
	margin: 5px;
	font-size: 16pt;
}

.button {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
    display: block;
    overflow:hidden;
    width: 115px;
    height: 25px;
    background: #9191E9;
    padding: 10px;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

